<!DOCTYPE html>
<html lang="{{ site.language }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.name | escape }} - {{ title | escape }}</title>
        <meta name="generator" content="{{ eleventy.generator | safe }}" />
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.GoogleAnalytics4 | safe}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.GoogleAnalytics4 | safe}}');
        </script>
    </head>

    <body>
        {% include 'partials/github.njk' %}

        <header class="container">
            {% include 'partials/header.njk' %}
        </header>

        <main class="container">
            {% block contentMain %}{% endblock %}
        </main>

        <footer class="container">
            {% include 'partials/footer.njk' %}
        </footer>

    </body>

</html>
