{% extends 'layouts/_base.njk' %}


{% block contentMain %}
    {% if true == toc %}
        <hr class="hoge" />
        {{ content | toc | safe }}
    {% endif %}

    {{ content | safe }}
{% endblock %}
